<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shq.model.usercenter.System" >
  <resultMap id="BaseResultMap" type="com.shq.model.usercenter.System" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
   
  <sql id="Base_Column_List" >
    id, name, status, code, url, remark, create_date
  </sql>
  
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_system
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="isExistsCode" parameterType="string" resultType="long">
  	select count(1) from tb_system t where t.code =#{code,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from tb_system
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteRolePermBySystemId" parameterType="java.lang.String">
  	delete from tr_role_perm where EXISTS (select 1 from tb_perm p where p.id = perm_id and p.system_id = #{systemId,jdbcType=VARCHAR})
  </delete>
  <delete id="deletePermBySystemId" parameterType="java.lang.String" >
 	 delete from tb_perm where system_id =#{systemId,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.shq.model.usercenter.System" >
    insert into tb_system (id, name, status, 
      code, url, remark, 
      create_date)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{code,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  
   <sql id="selectWhereClause">
   		<if test="name!=null">
   			and t.name like concat('%',#{name,jdbcType=VARCHAR},'%')
   		</if>
   		<if test="status!=null">
   			and t.status = #{status,jdbcType=VARCHAR}
   		</if>
   </sql>

  <select id="count" resultType="long" parameterType="map">
    select count(*) from tb_system t
    <where>
    	<include refid="selectWhereClause" />
    </where>
  </select>
  
  <select id="findPage" resultMap="BaseResultMap" parameterType="map">
    select 
     <include refid="Base_Column_List" />
     from tb_system t
    <where>
    	<include refid="selectWhereClause" />
    </where>
    order by t.create_date desc
  </select>
  
   <select id="findList" resultMap="BaseResultMap" parameterType="map">
    select 
     <include refid="Base_Column_List" />
     from tb_system t
    <where>
    	<include refid="selectWhereClause" />
    </where>
  </select>
  
  <update id="update" parameterType="com.shq.model.usercenter.System" >
    update tb_system
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>